

:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Verydark-desaturated-blue: hsl(229, 23%, 23%);
    --Darkgrayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}






* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border: 1px solid;
    border-color: brown;
}

.background {
    background-color: var(--Dark-cyan);
}

